.root {
    margin: 12px auto auto;
    width: 80%;
    max-width: 1600px;
}

.logo {
    width: 120px;
    height: 120px;
    text-align: center;
    background-color: #737373;
}

.header {
    width: 100%;
    padding: 12px;
    background-color: #31434f;
}

.sidebar {
    width: 200px;
    height: 100%;
    background-color: #385462;
}

.center {
    width: 100%;
    height: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #31434f;
}

.battle {
    width: 100%;
    height: 100%;
    background-color: #516679;
}

.battleDisplay {
    width: inherit;
}

.battleLocations {
    width: 160px;
    height: 100%;
    background-color: #385462;
}

.portrait {
    width: 150px;
    height: 150px;
    background-color: #737373;
}